{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="ui-state-error ui-corner-all" style="width: 50%; margin: 0 auto">
   <p class="error">You are already logged in. Do you want to <a href="{% url accounts_logout %}">log out</a>?</p>
</div>
 {% else %}

  {% if form.errors %}
<div class="ui-state-error ui-corner-all" style="width: 50%; margin: 0 auto">
    <p class="error">Sorry, that's not a valid user name or password</p>
</div>
  {% endif %}

  <h3>LHCb Online and CERN users</h3>

  <p>Use your <strong>LHCb Online</strong> or your <strong>CERN</strong> account to log in and report problems.</p>

  <form action="" method="post">
  {% csrf_token %}
  <table>
  <tr>
    <td><label for="username">User name:</label></td>
    <td><input type="text" name="username" value="" id="username" /></td>
  </tr>
  <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="password" name="password" value="" id="password" /></td>
  </tr>
  <tr>
    <td colspan="2">
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    </td>
  </tr>
  </table>
  </form>
  
 {% endif %}

{% endblock %}
