 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block page_title %}{% endblock %}LHCb Problem Database</title>
    <link rel="stylesheet" type="text/css" media="all" href="/media/print.css" />
    {% block head %}{% endblock %}
</head>

<body>

<div id="header">
<h1><a href="/">LHCb Problem Database</a> {% block header_title %}{% endblock %}</h1>

</div>



<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="footer"></div>
</body>
</html>

