 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block page_title %}{% endblock %}LHCb Problem Database</title>
    <link rel="stylesheet" type="text/css" href="/media/jquery-ui/css/smoothness/jquery-ui-1.8.2.custom.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="/media/main.css" />
    {% block head %}{% endblock %}
</head>

<body>

<div id="header">


<div id="header-logo">
<h1><a href="/" title="Version: June 2011">LHCb Problem Database</a> {% block header_title %}{% endblock %}</h1>
</div>

<div id="header-info">

<div id="header-user">
{% if user.is_authenticated %}
<p>Hello <em>{{ user.first_name }}</em>. <a href="{% url accounts_logout %}">Log out</a></p>
{% else %}
<p><a href="{% url accounts_login %}">Sign in</a><span class="light"> to report a problem</span></p>
{% endif %}
</div>

<div id="header-menu">

<form action="{% url problem_search %}" method="get">

<!--<span class="lhcb-button ui-widget ui-state-default ui-corner-all">
<a href="/">List of problems</a></span>

<span class="lhcb-button ui-widget ui-state-default ui-corner-all">
<a href="{% url problem_new %}">Report a problem</a></span>-->

<a href="/" class="lhcb-button">List of problems</a>
<a href="{% url problem_new %}" class="lhcb-button">Report a problem</a>

<input type="text" name="q" />
<input type="submit" value="Search" />
</form>

</div>
</div>

<br style="clear: both" />

<!--
<div id="menubar" class="ui-corner-all">
<a href="{% url problem_new %}">Report a problem</a> | 
</div>
-->

</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="footer">
<p><a href="http://lbweb.cern.ch/">LHCb Experiment</a>. Read the <a href="https://lbtwiki.cern.ch/bin/view/Operation/ProblemDb">documentation</a> on the Twiki.</p>
<p>Questions? Problems? <a href="http://lbhelp.cern.ch/">send us your comments</a>.</p>
</div>
<div id="_messages"></div>
<script type="text/javascript" src="/media/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/jquery-ui/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript">
function getQueryString(name){
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp(regexS);
  var results = regex.exec(window.location.href);
  return (results) ? results[1] : "";
}

var lhcb = {};
lhcb.message = function(text){
    var msg = jQuery("#_messages")
        .text(text)
        .show()
        .offset({top: 0, left: 100 + $("#header").offset().left })
        .delay(4000)
        .fadeOut();
}


$('.lhcb-button').button();


</script>
{% block script %}
{% endblock %}
</body>
</html>

