{% extends "base.html" %} 

{% load layout %}

{% block content %}


<h3>Browse problems by system</h3>

<table width="50%">
{% for row in systems|tablecols:6 %}
    <tr>
    {% for system in row %}
        <td>
            <a href="{% url problem_search %}?system={{ system.id }}">{{ system.name }}</a> <!-- ({{ system.num_problems }}) -->
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</table>


<h3>Active problems <a href="/report/active/" class="lhcb-button lhcb-button-print">Print</a></h3>
{% if active_problems %}
{% problem_table active_problems %}
{% else %}
<p>There are no active problems right now.</p>
{% endif %}

<h3>Reports</h3>
{% if reports %}
{% problem_table reports %}
{% else %}
<p>There are no reports.</p>
{% endif %}

<h3>Recently reported</h3>
{% if recent_problems %}
{% problem_table recent_problems %}
{% else %}
<p>There are no recently reported problems.</p>
{% endif %}

<h3>Problems by run</h3>
<p>Find the problems affecting a run.</p>
<form action="/search/run/">
<label>Run number 
	<input type="text" value="" name="run_id" />
</label>
<button type="submit">Search</button>
</form>

<h3>Last comments</h3>
{% if comments %}

{% for comment in comments %}
    <div class="comment" id="comment-{{ comment.id }}">
    <p class="meta">#<a href="#comment-{{ comment.id }}">{{ forloop.counter }}</a> by <strong>{{ comment.get_author_full_name }}</strong> on {{ comment.added_at|date }}</p>

    {{ comment.comment|removetags:"b span"|urlizetrunc:50|linebreaks}}

    {% if comment.link %}
    <p><a href="{{ comment.link }}" target="_blank">Logbook link</a></p>
    {% endif %}

    
    </div>
{% endfor %}


{% else %}
<p>There are no reports.</p>
{% endif %}


{% endblock %}
{% block script %}

<script type="text/javascript">

$(function() {
    $(".lhcb-button").button();

    $(".lhcb-button-print").button({ 
        icons: {primary:'ui-icon-print'},
        atext: false
    });

})

</script>
{% endblock %}
{% block head %}
<style type="text/css" media="screen">


</style>
{% endblock %}
