{% extends "base.html" %}

{% block page_title %}{{ problem.title }} - {% endblock %}
{% block header_title %}{% endblock %}

{% block content %}

<h2>Problem <a href="{{ problem.get_absolute_url }}">{{ problem.id}}</a>: {{ problem.title }}</h2>

<table class="problem-detail" width="100%">
<tr>
<td valign="top" width="20%">
<dl>

<dt>System</dt>
<dd>{{ problem.system }}</dd>

<dt>Severity</dt>
<dd>{{ problem.severity }}</dd>


<dt>Start date</dt>
<dd><span title="{{ problem.started_at|date }}">{{ problem.started_at|date }}</span></dd>

<dt>End date</dt>
<dd>

{% if problem.ended_at %}
<span title="{{ problem.ended_at }}">{{ problem.ended_at|date }}</span>
{% else %}
<em>Problem is still open</em>
{% if user.is_authenticated %}
<br /><a href="{% url problem_close problem.id %}">Close it</a>
{% endif %}

{% endif %}
</dd>


<dt>Runs affected</dt>
<dd id="problem-runs">
</dd>


<dt>Reported by</dt>
<dd><em>{{ problem.get_author_full_name }}</em> on {{ problem.added_at|date }}</dd>


</dl>

{% if user.is_authenticated %}

{% if not problem.ended_at %}
<p><a href="{% url problem_close problem.id %}">Close the problem</a></p>
{% endif %}



<p><a href="{% url problem_edit problem.id %}">Edit problem report</a></p>

<p><a href="#add-comment">Add a comment</a></p>

{% endif %}


</td>
<td width="80%" valign="top">

<h3>Comments</h3>
<div class="comments">

{% if comments|length %}

<!--<h3>{{ comments|length }} comment{{ comments|length|pluralize }}</h3>-->

{% for comment in comments %}
    <div class="comment" id="comment-{{ comment.id }}">
    <p class="meta">#<a href="#comment-{{ comment.id }}">{{ forloop.counter }}</a> by <strong>{{ comment.get_author_full_name }}</strong> on {{ comment.added_at|date }}</p>

    {{ comment.comment|removetags:"b span"|urlizetrunc:50|linebreaks}}

    {% if comment.link %}
    <p><a href="{{ comment.link }}" target="_blank">Logbook link</a></p>
    {% endif %}

    
    </div>
{% endfor %}

{% else %}

<div class="comment">
<p><em>No comments have been published.</em></p>
</div>

{% endif %}


{% if user.is_authenticated %}
<form action="{% url comments problem.id %}" method="post" id="add-comment">

{% if comment_form.comment.errors %}

<ul class="errorlist">
    <li>The comment could not be added. Please review the errors below.</li>
</ul>
{% endif %}

{{ comment_form.comment }}
{{ comment_form.comment.errors }}

<br />
<p>Logbook link:<br /> {{ comment_form.link }} </p>

{{ comment_form.link.errors }}


<p><input type="submit" value="Add your comment" /></p>
</form>

{% else %}
<p>You can <a href="{% url accounts_login %}?referrer=1">sign in</a> and add comments to this problem.</p>
{% endif %}

</div>



</td>
</tr>
</table>



{% endblock %}
{% block head %}
<style type="text/css" media="screen">

form {
    padding: 0.5em;
}

/**
Change the width of the form elements using the id attribute set by Django. Not elegant, though.
*/
form #id_comment, #id_link {
    width: 40em;
}

</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/media/jquery.textarea-expander.js"></script>
<script type="text/javascript">

var messages = [
    {qarg: "new-comment", text: "Comment added"},
    {qarg: "new-problem", text: "Problem created"},
    {qarg: "update-problem", text: "Problem updated"}
];

jQuery.each(messages, function() {
    if  (getQueryString(this.qarg)){
        lhcb.message(this.text);
    }
})

var runsAffected = function(container, startTime, endTime){
    container = $(container);
    var uri_search = "{{ RUNDB_URI_API_SEARCH }}";
    var uri_run = "{{ RUNDB_URI_RUN }}";
    var args = {
        "partition": "LHCb",
        "destination": "OFFLINE",
        "starttime": startTime,
        "endtime": endTime,
        "rows": 999999
    };
    $.get(uri_search, args, function(data){
        if (!data.totalResults){
            container.text("There are no runs affected by this problem");
            return;
        }
        container.empty();

        var start_run = data.runs[data.runs.length - 1];
        var end_run =  data.runs[0];

        if (data.runs.length < 5) {
            var runContainer = $("<ul></ul>").appendTo(container);
            listRuns(runContainer, startTime, endTime, data.totalResults);
        } else {
            var range = $("<span>" + start_run.runid + " - " + end_run.runid + "</span>");
            container.append(range);

            var linkMore = $("<br /><a>Complete list (" + data.totalResults + " runs)</a>");
            container.append(linkMore);
            var runContainer = $("<ul></ul>").appendTo(container);
            linkMore.click(function(){
                listRuns(runContainer, startTime, endTime, data.totalResults);
            })
        }
        return;
    }, "jsonp")
}

var listRuns = function(container, startTime, endTime, rows){
    container = $(container);
    var uri_search = "{{ RUNDB_URI_API_SEARCH }}";
    var uri_run = "{{ RUNDB_URI_RUN }}";
    var args = {
        "partition": "LHCb",
        "destination": "OFFLINE",
        "starttime": startTime,
        "endtime": endTime,
        "rows": (rows || '')
    };
    $.get(uri_search, args, function(data){
        if (!data.totalResults){
            return;
        }
        container.empty();

        var ul = container;
        $.each(data.runs, function(i, item){
            var link = uri_run + item.runid;
            //var run = "<li><a target='_blank' href='" + link +"'>" + item.runid + "</a></li>";
            //$("#problem-runs").append(run);
            ul.append("<li><a target='_blank' href='" + link +"'>" + item.runid + "</a></li>");
        });
        var remaining = (data.totalResults - data.runs.length);
        if (remaining > 0){
            var linkMore = $("<a>" + remaining + " more runs affected</a>");
            linkMore.click(function(){
                runsAffected(container, startTime, endTime, data.totalResults);
            })
            ul.append(linkMore.wrap("<li />"));
        }
    }, "jsonp")
}


$(function(){
    runsAffected("#problem-runs",
            "{{ problem.started_at|date:"Y-m-d\TH:i:s" }}",
            "{{ problem.ended_at|date:"Y-m-d\TH:i:s" }}");



    $('#id_comment').TextAreaExpander(175, 400);
})

</script>
{% endblock %}
