{% extends "base.html" %}
{# Form for editing or reporting a new problem #}
{% block page_title %}{{ message_title }} {% endblock %}
{% block header_title %}{% endblock %}

{% block content %}

<h2>{{ message_title }}</h2>


{% if form.errors %}
<ul class="errorlist">
    <li>The problem report could not be saved. Please review the errors below.</li>
</ul>

{{ form.non_field_errors }}

{% endif %}

{# The action is the same URI, for editing or creating a problem #}
<form action="" method="post">
<table>
    <tr>
        <th>{{ form.title.label_tag }}</th>
        <td>{{ form.title }}</td>
        <td>{{ form.title.errors }}</td>
    </tr>

    <tr>
        <th>{{ form.system.label_tag }}</th>
        <td>{{ form.system }}</td>
        <td>{{ form.system.errors }}</td>
    </tr>
    <tr>
        <th>{{ form.severity.label_tag }}</th>
        <td>{{ form.severity }}</td>
        <td>{{ form.severity.errors }}</td>
    </tr>
    <tr>
        <th>{{ form.started_at.label_tag }}</th>
        <td>{{ form.started_at }}</td>
        <td>{{ form.started_at.errors }}</td>
    </tr>
    <tr>
        <th>{{ form.ended_at.label_tag }}</th>
        <td>{{ form.ended_at }}</td>
        <td>{{ form.ended_at.errors }}</td>
    </tr>
    <tr>
        <th></th>
        <td>Choose the dates based on a range of runs</td>
        <td></td>
    </tr>
    <tr>
        <th></th>
        <td>From run <input type="text" id="run_start" class="run_number"/> to <input type="text" id="run_end" class="run_number"/>
        <button type="button" id="_run_date_search">Search</button></td>
        <td></td>
    </tr>
    <tr>
        <th>{{ form.initial_comment.label_tag }}</th>
        <td>{{ form.initial_comment }}</td>
        <td>{{ form.initial_comment.errors }}</td>
    </tr>
    <tr>
        <th>{{ form.link.label_tag }}</th>
        <td>{{ form.link }}</td>
        <td>{{ form.link.errors }}</td>
    </tr>

<tr><td colspan="2" align="center"><input type="submit" value="Save" />

</td></tr>
</table>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript" src="/media/jquery.textarea-expander.js"></script>
<script type="text/javascript">
    $(function() {

        /**
         *
         *
         */
        var mk_datepicker = function(elm){
            $(elm).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd',
                duration: 100,
                showOn: "button"
            });
        }
        mk_datepicker("#id_started_at_0");
        mk_datepicker("#id_ended_at_0");

        var date_from_run = function(form_element, run, date_field){
            if (!run){
                return;
            }

            var uri_run = "http://lbrundb.cern.ch/api/run/" + run + "/?callback=?";
            $.getJSON(uri_run, function(data){
                var datetime = data[date_field].split("T");

                $(form_element + '_0').val(datetime[0]);
                $(form_element + '_1').val(datetime[1]);
            })
        }

        var search_dates = function(){
            var run_start = $('#run_start');
            var run_end = $('#run_end');
            date_from_run('#id_started_at', run_start.val(), 'starttime');
            date_from_run('#id_ended_at', run_end.val(), 'endtime');
        }

        $('#_run_date_search').click(search_dates);
        $('#run_end').blur(search_dates);

        $('#id_initial_comment').TextAreaExpander(175, 400);

    });
</script>
{% endblock %}

{% block head %}
<style type="text/css" media="screen">

/**
Change the width of the form elements using the id attribute set by Django. Not elegant, though.
*/
form #id_title {
    width: 30em;
}

form #id_initial_comment, form #id_link  {
    width: 40em;
}

.hasDatepicker {
    width: 6em;
}

#id_started_at_1, #id_ended_at_1 {
    width: 4em;
}

form .run_number {
    width: 4em;
}

</style>
{% endblock %}
