{% extends "base.html" %}

{% block page_title %}{{ problem.title }} - {% endblock %}
{% block header_title %}{% endblock %}

{% block content %}

<h2>Problem <a href="{{ problem.get_absolute_url }}">{{ problem.id}}</a>: {{ problem.title }}</h2>

<table class="problem-detail" width="100%">
<tr>
<td valign="top" width="20%">
<dl>

<dt>System</dt>
<dd>{{ problem.system }}</dd>

<dt>Severity</dt>
<dd>{{ problem.severity }}</dd>


<dt>Start date</dt>
<dd><span title="{{ problem.started_at|date }}">{{ problem.started_at|date }}</span></dd>

<dt>End date</dt>
<dd>

{% if problem.ended_at %}
<span title="{{ problem.ended_at }}">{{ problem.ended_at|date }}</span>
{% else %}
<em>Problem is still open</em>
{% endif %}
</dd>

<dt>Reported by</dt>
<dd><em>{{ problem.get_author_full_name }}</em> on {{ problem.added_at|date }}</dd>


</dl>

{% if user.is_authenticated %}

<p><a href="{% url problem_edit problem.id %}">Edit problem report</a></p>

<p><a href="#add-comment">Add a comment</a></p>

{% endif %}


</td>
<td width="80%">

{% if problem.is_assessed %}

<p>You can <strong>close</strong> the problem now, please be sure that its severity has been assessed.</p>

{# The action is the same URI, for editing or creating a problem #}
<form action="" method="post">
<table>

{% for field in form %}
    <tr>
        <th>{{ field.label_tag }}</th>
        <td>{{ field }}</td>
        <td>{{ field.errors }}</td>
    </tr>
{% endfor %}
<tr><td colspan="2" align="center"><input type="submit" value="Close the problem" />

</td></tr>
</table>
</form>

{% else %}

<p>You <strong>can't close</strong> the problem now because its severity is <em>{{ problem.severity }}</em>. Please change be sure that it has been assessed, change it and then close the problem.</p>

{% endif %}

</td>
</tr>
</table>



{% endblock %}
{% block head %}
<style type="text/css" media="screen">

form {
	padding: 0.5em;
}

/**
Change the width of the form elements using the id attribute set by Django. Not elegant, though.
*/
form #id_comment, #id_link {
    width: 40em;
}

.hasDatepicker {
    width: 6em;
}

#id_ended_at_1 {
    width: 3em;
}

</style>
{% endblock %}
{% block script %}
<script type="text/javascript">

var messages = [
    {arg: "new-comment", text: "Comment added"},
    {arg: "new-problem", text: "Problem created"},
    {arg: "update-problem", text: "Problem updated"},
];

jQuery.each(messages, function() {
    if  (getQueryString(this.arg)){
        lhcb.message(this.text);
    }
})


$(function() {

    /**
     *
     *
     */
    var mk_datepicker = function(elm){
        $(elm).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            duration: 100,
            showOn: "button",
            //buttonText: "Choose"
        });
    }

    mk_datepicker("#id_ended_at_0");
});

</script>
{% endblock %}
