{# Inclusion tag for showing a table of problems #}
<table class="problems">
<thead>
<tr>
<th width="3%" align="right">#</th>
<th width="37%">Problem</th>
<th width="15%">System</th>
<th width="15%">Severity</th>
<th width="15%">Started</th>
<th width="15%">Ended</th>
</tr>
</thead>
<tbody>
{% for problem in problems %}
<tr class="{% cycle 'odd' 'even' %}">
<td align="right"><a href="{{ problem.get_absolute_url }}">{{ problem.id }}</a></td>
<td><a href="{{ problem.get_absolute_url }}">{{ problem.title }}</a></td>
<td>{{ problem.system }}</td>
<td>{{ problem.severity }}</td>
<td>{{ problem.started_at|date }}</td>
<td>{{ problem.ended_at|date }}</td>
</tr>
{% endfor %}
</tbody>
</table>