{% extends "base_print.html" %} 


{% block header_title %} - Active problems {% endblock %}

{% block content %}
{% for system in systems %}

{% if system.active_problems %}

<h3>{{ system.name }}</h3>

{% for problem in system.active_problems %}

<h4>#{{ problem.id }} {{ problem.title }}</h4>
<p>Started at <em>{{ problem.started_at|date }}</em>. Severity: <em>{{ problem.severity }}</em>. {{ problem.comments.all|length }} comments</p>


<table width="100%" class="comments">
{% for comment in problem.comments.all|slice:":5" %}
<tr>
<td width="13%" nowrap="nowrap" valign="top">{{ comment.added_at|date }}</td>
<td width="13%" valign="top"><em>{{ comment.get_author_full_name }}</em></td>
<td width="74%" valign="top">{{ comment.comment|removetags:"b span"|urlizetrunc:50}}</td>
</tr>
{% endfor %}
</table>



{% endfor %}

{% endif %}

{% endfor %}

{% endblock %}
