{% extends "base.html" %} 

{% block content %}

<h2>Problems affecting run <a href="{{ RUNDB_URI_RUN }}{{ run_id }}" target="_blank">{{ run_id }}</a></h2>

<dl id="run">
<dt attr="runid">Run #</dt>
<dt attr="partitionname">Partition name</dt>
<dt attr="runtype">Type</dt>
<dt attr="starttime">Start time</dt>
<dt attr="endtime">End time</dt>
<dt attr="state">State</dt>
</dl>

<div id="problems"></div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$(function(){
    //1. Get the run information: start and end dates
    //2. Get the problems within those dates
    var uri_api_problems = '/search/'
    var uri_rundb_api_run = "{{ RUNDB_URI_API_RUN }}{{ run_id }}/";
    $.get(uri_rundb_api_run, function(run){
        $("#run dt").after(function(){
            var attr = $(this).attr("attr");
            var value = run[attr];

            if (attr == "starttime" || attr == "endtime"){
                value = value.replace("T", " ");
            }

            return "<dd>" + value + "</dd>";
        })

        var args = {
            "started_lte": run.endtime.replace("T", " "),
            "open_or_closed_gte": run.starttime.replace("T", " "),
            "system_visible": 1,
            "_inline": 1
        }
        $.get(uri_api_problems, args, function(content){
            $("#problems").html(content);
        })
    }, "jsonp")

})
</script>
{% endblock %}
