{% extends "base.html" %} 

{% load layout %}

{% block content %}

<h2>Search results</h2>

<!--
<form action="{% url problem_search %}" method="get">
<input type="text" name="q" value="{{ filters.q }}" />
<input type="button" value="Search" />
</form>
-->

<p>&nbsp;</p>

{% if problems %}

    <p><strong>{{ problems|length }}</strong> result{{ problems|length|pluralize }} found

{% if filters.q %}
matching the keyworkd <strong>{{ filters.q }}</strong>.
{% endif %}

{% if filters.system %}
for the system <strong>{{ filters.system.name }}</strong>.
{% endif %}

{% if filters.severity %}
with severity <strong>{{ filters.severity.name }}</strong>.
{% endif %}

{% if filters.run %}
referring to run <strong>{{ filters.run }}</strong>.
{% endif %}


    {% problem_table problems %}


{% else %}
    <p>No results found.</p>
{% endif %}

{% if filters %}

<!--
<dl class="filters">
{% if filters.system %}
    <dt>System</dt>
    <dd>{{ filters.system.name }}</dd>
{% endif %}

{% if filters.severity %}
    <dt>Severity</dt>
    <dd>{{ filters.severity.name }}</dd>
{% endif %}

{% if filters.run %}
    <dt>Referring to run</dt>
    <dd>{{ filters.run }}</dd>
{% endif %}
</dl>

{% endif %}

-->

{% endblock %}
