

/**
 *
 * http://colorschemedesigner.com/#3J42Pw0w0w0w0
 */

body {
    font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    margin: 0;
}

p {
    margin: 0 0 0.5em 0;
    line-height: 1.4em;
}

p.error {
    margin: 0.25em;
    font-size: 1.15em;
}

ul.errorlist {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    color: #F00;
}

ul.errorlist li {
    padding-left: 0;
}

a, a:visited {
    color: blue;
}

#header {
    margin: 0 auto;
    width: 960px;

    margin-bottom: 5px;
    border-bottom: 1px solid #999;
}

#header h1 {
    margin: 0;
    padding: 0;

    font-size: 1.3em;
    font-weight: normal;
    color: #486090;
}

#_messages {
    display: none;
    background-color: #FC0;
    border: #666;

    width: 400px;
    margin: 0 auto;
}


#header-logo {
    float: left;
    width: 350px;
    height: 40px;
    margin-top: 20px;

    padding-top: 10px;
    vertical-align: baseline;
}

#header-info {
    float: left;
    width: 600px;

    padding: 5px 0;

    text-align: right;
}

#header-user {
    margin-bottom: 5px;
}

#header-info p {
    color: #333;
    font-size: 0.8em;
}

#header h1 a,
#header h1 a:visited {
    color: inherit;
    text-decoration: none;
}


.lhcb-button {
    font-size: 0.9em;
}



.light {
    color: #666;
}


#footer {
    margin: 30px auto 0;
    width: 960px;

    padding-top: 5px;
    border-top: 1px solid #DDD;

    color: #333;
    font-size: 0.8em;
}


#content {
    margin: 0 auto;
    width: 960px
}

#content {
    font-size: 10pt;
}

h2, h3, h4 {
    color: #333;
    font-weight: normal;
}

h2 {
    font-size: 1.75em;
    margin: 0.4em 0 0.2em 0;
}

h3 {
    font-size: 1.3em;
    margin: 0.6em 0 0.5em 0;
}


th {
    text-align: left;
}

dl.filters {

}

dl.filters dt {
    clear: both;
    display: inline;
}

dl.filters dd {
    display: inline;
    margin: 2px 0 2px;
    font-weight: bold;
}

p.meta {
    color: #333;
}

.problem-detail dl {
    margin: 0 0 5px;
}

.problem-detail dt {
    margin-top: 5px;
    font-weight: bold;
}

.problem-detail dd {
    margin: 0;
}

.comments {
    margin-top: 10px;
    border-top: 1px solid #CCC;

    border: 2px solid #CCC;
    background-color: #F6F6F6;

}

.comment {
    margin-bottom: 5px;
    border-bottom: 2px solid #CCC;
    padding-bottom: 5px;

    padding: 5px;
}

table.problems {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    border: 1px solid #CCC;
    padding: 1px;
}

table.problems thead tr {
    border-bottom: 1px solid #CCC;
}

table.problems th {
    color: #333;
}

table.problems tr.even {
    background-color: #EEE;
}

table.problems tr.odd {
    background-color: #FFF;
}

table.problems td {
    padding: 4px 3px;
}


h3 .lhcb-button {
    font-size: 10pt;
    float: right;
    padding: 0.5;
    margin: 10;
    line-height: 1.0;
}


/**
 * Overwrite jQuery ui theme settings
 */
.ui-button-text-only .ui-button-text { 
    padding: 0.25em 0.75em; 
    line-height: 1.1;
}

.ui-button-text-icon .ui-button-text, 
.ui-button-text-icons .ui-button-text {  
    line-height: 1.0;
}
