

/**
 *
 * http://colorschemedesigner.com/#3J42Pw0w0w0w0
 */

body {
    font-family: 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', Verdana, Arial, sans-serif;
    font-size: 1em;
    margin: 0;
}


#header {
    margin: 0 auto;
    width: 960px;

    margin-bottom: 5px;
    border-bottom: 1px solid #999;
}

#header h1 {
    margin: 0;
    padding: 0;

    font-size: 1.3em;
    font-weight: normal;
}

#content {
    margin: 0 auto;
    width: 960px
}

#content {
    font-size: 10pt;
}

p {
    margin: 0;
}

h3 {
    margin: 0.85em 0 0 0;
    border-bottom: 1px solid #000;
}

h4 {
    margin: 0.75em 0 0 0;
    font-size: 1.1em;
    font-weight: normal;
    font-weight: bold;
}

table.comments {
    margin: 5px 0 0 0;
    border-collapse:collapse;
}

table.comments tr {
    border-bottom: 1px solid #EEE;
    margin-bottom: 2px;
}

table.comments td {
    padding-bottom: 5px;
}

